/* --------- BEGIN Common styles --------- */
* {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    outline: 1px solid transparent;
}

body {
  background-color: #16a085;
}

/* --------- END Common styles --------- */

/* --------- BEGIN EntryTable styles --------- */
.entryTable {
  left: 20%;
  margin-right: -20%;
  position: absolute;
  width: 60%;
}

.entryTableHeader {
  margin: 30px auto;
  max-width: 300px;
}

.entryTableAddEntryInput {
  display: inline-block;
  background-color: rgba(0,0,0,.15);
  border: none;
  color: white;
  font-size: 20px;
  font-weight: 300;
  height: 50px;
  margin-bottom: 10px;
  padding: 10px;
  opacity: 0.85;
  width: 75%;
}

.entryTableAddEntryButton {
  display: inline-block;
  background-color: rgba(0,0,0,.25);
  border: none;
  color: white;
  cursor: pointer;
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 10px;
  padding: 15px 15px 13px 15px;
  text-align: center;
  width: 25%;
}
/* ---------- End EntryTable styles ---------- */

/* ------------ BEGIN Entry styles ----------- */
.entries {
  font: 200 18px Helvetica, Verdana, sans-serif;
  margin-bottom: 20px;
}

.entryHeader {
  text-align: center;
  color: white;
  font-weight: 300;
  font-size: 32px;
}

.entryDelete {
  float: right;
  visibility: hidden;
}

.entries:hover .entryDelete {
  visibility: visible;
}

.entryDelete:hover {
  cursor: pointer;
  opacity: 0.5;
}

/* ------------- END Entry styles ------------ */

/* ---------- BEGIN EntryRow styles ---------- */
.entryRowContainer {
  margin: 30px auto;
  max-width: 500px;
}

.entryRowContainer ul {
  list-style-type: none;
}

.entryAddFoodInput {
  display: inline-block;
  background-color: rgba(0,0,0,.15);
  border: none;
  color: white;
  font-size: 20px;
  font-weight: 300;
  height: 50px;
  margin-bottom: 10px;
  padding: 10px;
  opacity: 0.85;
  width: 85%;
}

.entryAddFoodButton {
  display: inline-block;
  background-color: rgba(0,0,0,.25);
  border: none;
  color: white;
  cursor: pointer;
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 10px;
  padding: 15px 15px 14px 15px;
  text-align: center;
  width: 15%;
}

/* Hack to fix last element from moving next entry down 1px */
.entryRowContainer li:last-child {
  padding-bottom: 1px;
}

.entryRow {
  animation: fadeIn .3s linear forwards;
  background-color: white;
  border: 1px solid black;
  color: #444;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 10px;
  min-height: 50px;
  padding: 10px;
  position: relative;
}

@keyframes fadeIn {
  from { opacity: 0 }
  to { opacity: 1 }
}

.entryRow:hover {
  cursor: pointer;
}

.entryRowDelete {
  float: right;
  visibility: hidden;
}

.entryRow:hover .entryRowDelete {
  visibility: visible;
}

.entryRowDelete:hover {
  cursor: pointer;
  opacity: 0.5;
}

.entryRowInput {
  composes: entryRow;
  animation: none;
  width: 80%;
}

/* ----------- END EntryRow styles ----------- */
